@import url('https://fonts.googleapis.com/css?family=Courgette|Indie+Flower|Kalam|Lobster|Permanent+Marker|Source+Code+Pro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
/*
  font-family: 'Lobster', cursive;  
*/

@import url('https://fonts.googleapis.com/css?family=Mansalva|Playfair+Display&display=swap');
/*
font-family: 'Mansalva', cursive;
font-family: 'Playfair Display', serif;
*/


/*
font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Permanent Marker', cursive;

font-family: 'Courgette', cursive;  ****

font-family: 'Kalam', cursive;
font-family: 'Gayathri', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Modak', cursive;
font-family: 'Righteous', cursive;
font-family: 'Signika', sans-serif;
font-family: 'Patua One', cursive;
*/

/*      filtro css
filter: blur(5px);
filter: brightness(0.4);
filter: contrast(200%);
filter: drop-shadow(16px 16px 20px blue);
filter: grayscale(50%);
filter: hue-rotate(90deg);
filter: invert(75%);
filter: opacity(25%);
filter: saturate(30%);
filter: sepia(60%);

/* Apply multiple filters 
filter: contrast(175%) brightness(3%);

/* Global values *
filter: inherit;
filter: initial;
filter: unset;


*/


*{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
}


.BSTube{
    
    font-family: 'Lobster', cursive; 
    z-index: 20; 
    /*probar 
  color: #FFF;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font: italic bold 100px Georgia, Serif;
  text-shadow: -4px 3px 0 #34d16e, -14px 7px 0 #0a0e27;

    */
}




.container_video_presentation{
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dashboard{
    position: absolute;
    
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.video_dashboard{
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

.search{
    width: 100%;
}
.search_video{
    top:350px;
    left: 100px;
    position: absolute;
    z-index: 2;
}

.text_presentation_header{
    
    /*  font-family: 'Courgette', cursive;  */
    font-family: 'Righteous', cursive;
    top: 95px;
    left: 120px;
    position: absolute;
    z-index: 2;
    color: white;
}

.text_presentation_footer{
    font-family: 'Righteous', cursive;
    top: 650px;
    left: 100px;
    position: absolute;
    z-index: 2;
    color: white;

}

.text_select{
    font-family: 'Righteous', cursive;
}

.text_shadow{
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.75);
}

.text_shadow_mult{
    text-shadow: 2px 2px 3px black, 4px 4px 3px red, 6px 6px 3px black;
}
.text_shadow_blue{
    text-shadow: 4px 4px 3px rgba(16, 19, 197, 0.801);
    }
.text_shadow_red{
    text-shadow: 4px 4px 3px rgba(197, 5, 5, 0.74);
    }

.file_name{
    font-family: 'Righteous', cursive;
}

.header{
    visibility: hidden;
}

/*
font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Permanent Marker', cursive;
font-family: 'Courgette', cursive;
font-family: 'Kalam', cursive;
*/