<div class="container">
            <div class="row">
                <div class="col-1">
                </div>  
                <div class="col-10 text-start">
                    <p><h1 id="file_name" class="file_name text_shadow align-items-start">Titulo:</h1></p>
                </div>
                <div class="col-1">
                </div> 
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-1"></div>
                <div class="col-5">
                    <div align="align-items-start">
                        <video controls="true" loop class="video rounded-lg embed-responsive-item" style="width: 100%; height: 12.6rem; border-radius: 100px 30px 20px 20px; outline: none; text-align:center; box-shadow: 3px 3px 7px black;">
                            <source src="./video/HERMOSO VIDEO - Cuestión de actitud.mp4" type="video/mp4">
                        </video>
                    </div> 
                </div>
                <div class="col-6 text-center p-5">
                    <form action="" class="pb-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1" class="h2 text_shadow" style="font-family: 'Righteous', cursive;">
                                Formato de descarga:
                            </label>
                            <select class="form-control form-control-lg" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
<!--
audio: mp3, aac, ogg, m4a, wma, flac, wav
video: mp4, m4v, mov, flv, avi, mpg, wmv
-->


                            </select>
                        </div>
                    </form>
                    <button class="btn btn-danger">Descargar</button>
                    <button class="btn btn-danger">convertir otro video</button>
                </div>
            </div>   
        </div> 